# See https://github.com/lowlighter/metrics for documentation
# This worflow is scheduled for every hour, and also run after each commit (GitHub action excluded) on master/main branch

name: Metrics
on:
  schedule:
    - cron: "0 0-23/1 * * *"
  push:
    branches:
      - master
      - main
  workflow_dispatch:
jobs:
  github-metrics-personal:
    runs-on: ubuntu-latest
    steps:

      - name: Metrics
        if: ${{ success() || failure() }}
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.ACCESS_TOKEN }}
          
          base: header, repositories
          
          plugin_isocalendar: yes
          
          plugin_languages: yes
          plugin_languages_details: lines, percentage
          plugin_languages_sections: most-used, recently-used
          
          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_secrets: yes
          plugin_achievements_display: compact
          
          plugin_habits: yes
          plugin_habits_facts: no
          plugin_habits_charts: yes
          
          plugin_lines: yes
          
          plugin_followup: yes
          plugin_followup_indepth: yes
          plugin_followup_sections: user
          
          plugin_projects: yes
          
          plugin_stargazers: yes
          
          plugin_contributors: yes
          plugin_contributors_contributions: yes
          
          plugin_calendar: yes
          plugin_calendar_limit: 0
        
          plugin_activity: yes
          
          plugin_notable: yes
          plugin_notable_indepth: yes
          plugin_notable_repositories: yes
          
          config_order: base.header, isocalendar, languages, activity, reactions
          

